.jumbotron {
  background: #2f8c47;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #61c75a;
    border-color: #61c75a; }
    .jumbotron .btn-primary:hover {
      background: #0a99d1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #FFFFFF;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

